@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: rgb(255, 229, 236);
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
  text-align: center;
}

#yaba{
  border-radius: 70px;
  border: 10px solid #ffc2d1;
}

#marp{
  width: 500px;
  display:flex-start;
  justify-content: space-evenly;
}

#cinna{
  width: 500px;
  justify-content: flex-end;
display:space-evenly;
}
li::marker{
content: "❤️";
font-size: .65em;
color: #ffc2d1;
}
